.tdSelect:hover{
    background-color: #f5f5d1;
    cursor:pointer;
}

.tdSelect i:hover{
    font-weight: bold;
}


.registroSeleccionado{
    cursor: pointer;
    background-color: #fdffac;
    color: #1a8c90;
}
